<div class="center">
    <form class="center gallery">
        <h2>Galeria</h2>
        <div class="listOfSession">
            {{#each gallery}}
            <div class="session" style="background-image:url('');">
                {{!-- <img src="" alt=""> --}}
                <button style="background-image:url('{{{./avatar}}}');" formaction="/gallery/{{{./topic}}}"
                    name="session" value="{{@key}}">{{./topic}}</button>
            </div>
            {{/each}}
        </div>
    </form>
</div>