<div class="center">
    <div class="center gallery">
        <h2>Galeria</h2>
        <div class="listOfSession">
            {{#each gallery}}
            <div class="session" style="background-image:url('');">
                <img src="{{{./avatar}}}" alt="">
                <a href="/gallery/{{{./topic}}}">{{{./topic}}}</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>