<div class="center">
    <div class="center gallery">
        <h2>Galeria</h2>
        <div class="list-of-links">
            {{#each gallery}}
            <div>{{.}}</div>
            {{/each}}
        </div>
    </div>
</div>