<div class="main center">
    <div class="bg" onload="changeBgImage()">
        <div class="name center">
            <h1>Michał Reuss</h1>
        </div>
        <div class="space"></div>
        <div class="description">
            <h4>Hi, I'm Michał and I'm 16, as a hobby I'm a photographer and on
                this site you are able to see some of my work. Enjoy </h4>
        </div>
        <div class="alpha"></div>
    </div>
</div>
<div class="options center">
    <h2 class="center">Zobacz:</h2>
    <div class="options-list">
        <h4><a href="/gallery">Galeria</a></h4>
        <h4><a href="/contact">Kontakt</a></h4>
    </div>
</div>
<script>
    const bg = document.querySelector('.bg')
    let bgTab = "{{{bgImages}}}".split(',')
    let imC = 0

    window.onload = function changeBgImage() {
        console.log('wywołanie')
        if (bgTab.length - 1 == imC) {
            imC = 0
            bg.style.backgroundImage = 'url("../gfx/main-bg/' + bgTab[imC] + '")';
            imC++
        } else {
            bg.style.backgroundImage = 'url("../gfx/main-bg/' + bgTab[imC] + '")';
            console.log()
            imC++
        }
        setTimeout(changeBgImage, 8000)
    }

</script>