<div class="contactContent">
    <div>
        <h2>O mnie:</h2>
        <p>Jestem 16 letnim rozwijającym się fotografem, ta strona jest moim portfoliem, jeżeli podoba Ci się moja praca
            skontaktuj się ze mną na mój adres mailowy <b>reusswspolpraca@gmail.com</b></p>
    </div>
    <div>
        <img class="meinPhoto" src="/gfx/me.jpeg" alt="">
    </div>
</div>