header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    font-size: 20px;
    padding: 40px 100px;
    z-index: 1000000;
    background-color: var(--white);
    transition: all 0.6s ease;

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
a{
    text-decoration: none;
}
header .logo{
    position: relative;
    display: inline-flex;
    color: var(--dark);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.rightSide{
    display: flex;
}

.btns{
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.btns ion-icon{
    font-size: 1.5em;
    color: var(--dark);
}
.menuToggle{
    width: auto;
}
.rightSide .menuToggle ion-icon{
    font-size:3em;
}

.btns ion-icon:nth-child(2){
    display: none;
}
.btns.active ion-icon:nth-child(1){
    display: none;
}

.btns.active ion-icon:nth-child(2){
    display: block;
}
.navigation{
    position: fixed;
    left: -100%;
    right: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: var(--white);
    /* transform: translateX(-100%); */
    z-index: 1000;
    color: var(--dark);
    transition: all 0.4s ease;
}
.navigation.active{
    left: 0;
}
.navigation a{
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 1.5em;
    color: var(--dark);
    transition: all 0.4s ease-in;
    border-radius: 20px;
}
.navigation a:hover{
    background-color: var(--dark);
    font-size: 1.75em;
    font-weight: 600;
    color: var(--white);
}
