.name{
    font-size: 0.7em;
    padding-right: 30px;
    padding-left: 20px;
}

.footer-padding{
    padding: 20px 5px;
}
.center-footer{
    font-size: 0.8em;
}
.left-footer, .right-footer{
    margin: 15px 2px;
}