header{
    padding: 20px 20px;
}
.name{
    margin-top: 100px;
    padding-left: 25%;
    padding-right: auto;
    font-size: 0.8em;
}
/* .footer-padding{
    padding:20px;
} */
.name{
    font-size: 0.7em;
    padding-right: 30px;
    padding-left: 20px;
}
.contactContent{
    flex-direction: column;
    padding: 150px 10px 50px 10px;
    height: auto;
}
.meinPhoto{
    margin-top: 50px;
    margin-left: 0;
}
/* normal desktop styles */ 
@media only screen  and (max-device-width: 1000px) and (orientation: portrait)
 {

 } 
 /* styles for smartphones and tablets in portrait mode */ 
 @media only screen  and (max-device-width: 500px) and (orientation: landscape)
  {
    
  } /* styles for smartphones and tablets in landscape mode */
