<div class="main center">
    <div class="bg">
        <div class="name center">
            <h1>Michał Reuss</h1>
        </div>
        <div class="space"></div>
        <div class="description">
            <h4>Hi, I'm Michał and I'm 16, as a hobby I'm a photographer and on
                this site you are able to see some of my work. Enjoy </h4>
        </div>
        <div class="alpha"></div>
    </div>
</div>
<div class="options">
    <h2 class="center">Options</h2>
    <div class="center options-list">
        <h4 class="center">Gallery</h4>
        <h4 class="center">Contact</h4>
        <h4 class="center">About me</h4>
    </div>
</div>